<h1>New note</h1>
<% form_for(@note, :url => notes_path, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit %>
<% end %>
