<html>
<title>Wayfaring</title>
<body>

<p style="color:red">The profile  page shows your account and from here you can click to your maps. On the iphone - unlike the web - you are always effectively logged in - but if you are not logged in then this page could show you controls to let you setup an account if such concepts were needed.  </p>
<div style="width:320px">
 <div style="text-align:right">
 Your Profile
 </div>
 <div style="clear:both;width:320px;height:480px;border:3px solid grey;">
 Your name, your depiction, a link to your maps<br/>
 </div>
</div>

<p style="color:red">The maps page shows a list view of your maps. From this page you can add a new map, delete a map, re-organize your maps, search your maps and also click on a map to go to that map. </p>
<div style="width:320px">
 <div style="text-align:right">
  <a href="">back</a> |
  <input style="width:128px"/> <a href="add">search</a>
 Your Maps
 </div>
 <div style="clear:both;width:320px;height:480px;border:3px solid grey;">
 Fave Celebs! [ cut ] [ copy ] [ share ]  <br/>
 My Friends!  [ cut ] [ copy ] [ share ]  <br/>
 My Girl!  [ cut ] [ copy ] [ share ]  <br/>
 My Car  [ cut ] [ copy ] [ share ]  <br/>
 [ add new ] 
 </div>
 A view of all your maps.
</div>

<p style="color:red">The map page shows a given map - it can be searched, has a name  and it has a details page.  </p>
<div style="width:320px">
 <div style="text-align:right">
  <a href="">back</a> |
  <input style="width:88px"/> <a href="add">search</a>
  | <a href="add">details</a>
  Fav Celebs!
 </div>
 <div style="clear:both;width:320px;height:480px;border:3px solid grey;">
 [ pick on a person on this map ]
 </div>
</div>

<p style="color:red">The map detail page allows you to fiddle with the map. This page is just basically a list or text view of the map.  I am unsure how to add new people - it may need to be a separate page.  </p>
<div style="width:320px">
 <div style="text-align:right">
  <a href="">back</a> |
  <input style="width:128px"/> <a href="add">search</a>
  | <a href="add">map</a>
  | <a href="add">more</a>
 </div>
 <div style="clear:both;width:320px;height:480px;border:3px solid grey;">
 [ set name ]<br/>
 [ public ]<br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ go to people search ]<br/>
 [ go to your follows ]</br>
 [ go to your followers ]<br/>
 [ go to public timeline ]<br/>
 [ go to a specific person by name ]<br/>
 </div>
</div>

<p style="color:red">People search in general. This lets you just browse around people on twitter, you can search for them and the like, and you can mark them for addition to a map.  Maybe also we will let you go into people and look at their profiles in detail and also link to their maps if they have any ( some people on twitter may be using our app also so we can show you if they have some maps )
</p>
<div style="width:320px">
 <div style="text-align:right">
  <a href="">back</a> |
  <input style="width:128px"/> <a href="add">search</a>
  People Search
 </div>
 <div style="clear:both;width:320px;height:480px;border:3px solid grey;">
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
 [ person 1][ remove ? ] [ color? ] <br/>
</div>

</body>
</html>

