<h2><%= @user.login %></h2>
<% if @user.photo.exists? then %>
<%= image_tag @user.photo.url(:small) %>
<% else %>
<img src="/images/default.jpg" width="50" height="50" style="border: 4px ridge grey" />
<% end %>
<br/>
<div style="clear:both"></div>
<% if @user.admin %>
<a href="/admin_notes">administer posts</a>
<a href="/admin_users">administer users</a>
<a href="/admin_relations">administer relations</a>
<% end %>

<a href='/notes/new'>make a new map or place</a><br/>
<a href='/users/search/1'>see your posts - a hack works here for now but should be implemented as a riff on the front page with js driven search - may also want to implement a boring list view for testing </a><br/>
<a href='todo'>see your friends - should be shown on a map as well and use same technique as front page </a><br/>
<%= link_to 'edit your account profile', edit_account_path %>
